@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .text-outline {
        /* @apply text-lime-500; */
        text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    }

    .text-outline-2 {
        /* @apply text-lime-500; */
        text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black;
    }


    .text-outline-4 {
        /* @apply text-lime-500; */
        text-shadow: -4px -4px 0 black, 4px -4px 0 black, -4px 4px 0 black, 4px 4px 0 black;
    }
}